<div class="banner">
  <div class="container">
    <div class="span_1_of_1">
      <h2> <br><br> </h2>
      <div class="search">
        <ul class="nav1">
          <li id="search">
            <%= form_tag  images_search_path, :method => 'get' do %>
                <%= text_field_tag :search, params[:search]%>
                <%= select_tag :category, options_for_select(Category.all.map{|c| [c.name, c.id]}) %>
                <%= submit_tag 'Search' %>
            <% end %>


          </li>
          <li id="options">
            <a href="#">All Images</a>
            <ul class="subnav">
              <li><a href="#">Photography</a></li>
              <li><a href="#">Illustrations</a></li>
              <li><a href="#">Vector</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="grid_1">
  <h3>Over 42 Million Stock Images, Vectors, Footage and Audio Clips</h3>

  <div id="image">
    <%= render 'images/image' %>
  </div>
  <div class="apple_pagination">
    <%= will_paginate @images%>
  </div>


</div>