<!DOCTYPE html>
<html>
  <head>
    <title>Dragonarte</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%=render 'layouts/headers' %>

    <%= yield %>

    <%= render 'layouts/footer' %>
  </body>
</html>
